---
version: "2.1"
services:
  jaeger:
    image: jaegertracing/all-in-one:1.42
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    ports:
      - "16686:16686"
      - "4317:4317"
      - "14268:14268"
