name: lint, test and build image
on: [pull_request, push]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.18'
    - name: Checkout code
      uses: actions/checkout@v3
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        args: --config .golangci.yml --timeout 2m
        version: v1.46.2
    - name: Test
      run: go test ./...
  lint-sa:
    name: run semgrep code analysis
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
      volumes:
        - semgrep-go/semgrep-go
    # Skip any PR created by dependabot to avoid permission issues
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: clone dgryski semgrep rules
        uses: actions/checkout@v3
        with:
          name: dgryski/semgrep-go
          path: semgrep-go
      - name: Checkout Alloy code
        uses: actions/checkout@v3
      - run: |
          pwd
          ls ../
          ls -lta
      - run: semgrep ci --config "p/golang" --config "p/trailofbits" -f ../semgrep-go .
  build:
    runs-on: ubuntu-latest
    needs: [lint-test]
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: Checkout code
        uses: actions/checkout@v3

      - name: build binary
        run: make build-linux

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Alloy Docker image - no push
        id: dockerbuild-alloy
        uses: docker/build-push-action@v3
        with:
           context: .
           push: false
           tags: ghcr.io/metal-toolbox/alloy:latest
           file: Dockerfile

      - name: Build Alloy inband Docker image - no push
        id: dockerbuild-alloy-inband
        uses: docker/build-push-action@v3
        with:
           context: .
           push: false
           tags: ghcr.io/metal-toolbox/alloy-inband:latest
           file: Dockerfile.inband

      - name: Scan image - Alloy
        id: scan-Alloy-image
        uses: anchore/scan-action@v3
        with:
          image: ghcr.io/metal-toolbox/alloy:latest
          acs-report-enable: true
          # TODO(joel): Fail build once we migrate off CentOS.
          fail-build: false

      - name: Scan image - Alloy inband
        id: scan-Alloy-inband-image
        uses: anchore/scan-action@v3
        with:
          image: ghcr.io/metal-toolbox/alloy-inband:latest
          acs-report-enable: true
          # TODO(joel): Fail build once we migrate off CentOS.
          fail-build: false

      # TODO(joel): Uncomment once we migrate off CentOS.
      # - name: upload Anchore scan SARIF report
      #   uses: github/codeql-action/upload-sarif@v2
      #   with:
      #     sarif_file: ${{ steps.scan.outputs.sarif }}
      #   # This should run even if we fail the container scan
      #   if: always()

      - name: Inspect action SARIF report
        run: cat ${{ steps.scan.outputs.sarif }}
        # This should run even if we fail the container scan
        if: always()
